

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 5vw;
}

h2 {
  display: flex;
  font-size: 1.25vw;
}

li {
  font-size: 1vw;
}

.categories {
  padding-top: 2vw;
  font-size: 3.5vw;
  display: flex;
  justify-content: center;
}

footer {
  text-align: center;
}

nav {
  margin: -1vw;
  border: 2px solid black;
}
